.A_Header_2 {
  display: flex;
  width: 100%;
  align-items: center;

  padding: var(--h-2-padding-article, 12px) 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #3b3b3b;

  /* уже есть в typography */
  /* font-family: 'TT Mussels', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2); */
}

.A_Header_3 {
  display: flex;
  width: 100%;
  align-items: center;

  padding: var(--h-3-padding-article, 12px) 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #3b3b3b;
}

.W_bodyText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.W_Header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.W_Article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  width: 753px;
}
