/* секция целиком с карточками */
.W_Section {
  display: flex;
  width: 100%; /* от main-container-lending*/
  margin: 0px auto;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-100-section);
}

/* все с кнопкой */
.W_SectionText {
  display: flex;
  width: 100%; /* от main-container-lending*/
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;

  margin: 0px auto;
}
.W_SectionText--theory {
  padding-right: calc(var(--column12-1) + var(--column-gap));
}

/* цифра + текст */
.W_SectionNumberAndText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.W_SectionText--theory .W_SectionNumberAndText {
  width: var(--column12-7);
}
.W_SectionText--indesign .W_SectionNumberAndText {
  width: var(--column12-6);
}

/* заголовок + текст */
.M_SectionTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 24px;
}
.W_SectionText--theory .M_SectionTextContainer {
  width: var(--column12-6);
}
.W_SectionText--indesign .M_SectionTextContainer {
  width: var(--column12-5);
}

/* только цифра */
.A_SectionNumber {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  font-family: 'GothicA1', sans-serif;
  font-size: var(--font-size-h2-number);
  font-weight: 600;
  font-style: normal;
  color: var(--black);

  margin: 0;
  padding-top: 3px;
  width: var(--column12-1);
}

/* кнопка в секции ДОДЕЛАТЬ*/
.W_Section--theory > .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--column12-3);
}

/* FOR THEORY & PRACTICE SECTIONS */
@media (min-width: 375px) {
}

@media (min-width: 744px) {
}
@media (min-width: 1376px) {
}

@media (min-width: 1728px) {
}
/* FOR INDESIGN SECTION */

.W_SectionText--indesign > img {
  width: var(--column12-6);
  height: auto;
  align-items: stretch;
}

.W_SectionText--indesign > .M_SectionTextContainer {
  width: var(--column12-5);
}

/* баннеры и фотки */

.fullscreen-image {
  width: 100%; /* от main-lending*/
  max-width: none;
  height: auto;
  display: block;
  position: relative;
}

.W_BannerPDF {
  width: 100%; /* от main-container-lending*/
  height: auto;
  padding: 60px 0px;
  justify-content: space-evenly;

  display: flex;
  align-items: center; /* центр по высоте */

  border-radius: var(--card-border-radius);
  overflow: hidden; /* важно, чтобы фон и контент обрезались по радиусу */

  background-image: url('../../images/mainPage-S-banner-pdf-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* SVG-текст слева */
.A_BannerPDFText {
  display: block;
  width: 40%;
  /* width: var(--column12-5); */
  /* max-width: min(620px, 45%); */
  height: auto;
  flex: 0 1 auto;
}

/* правая колонка (поле + кнопка) */
.M_BannerPDFForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: stretch;
  width: 34%;
  /* min-width: 280px; */
  /* width: var(--column12-5); */
  flex: 0 1 auto; /* базовая ширина колонки */
}

/* “поле ввода” пока как блок */
.A_BannerPDFField {
  display: flex;
  align-items: center;
  gap: 10px;

  height: 64px;
  padding: 0 28px;

  border-radius: 999px;
  background: #f7f0e6; /* подставь свои переменные */
}

/* префикс tg: */
.A_BannerPDFPrefix {
  font:
    500 18px/1.2 system-ui,
    sans-serif;
  opacity: 0.9;
}

/* кнопка */
.A_BannerPDFButton {
  height: 64px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 999px;
  text-decoration: none;

  background: #2f2f2f;
  color: #fff;

  font:
    600 18px/1.2 system-ui,
    sans-serif;
}

/* в конце главы */
.W_BannerSubscription {
  width: 100%;
  height: auto;
  padding: 60px 120px; /* или через justify-content: space-evenly; */

  display: flex;
  align-items: center; /* центр по высоте */
  justify-content: center; /* центр по ширине */
  gap: 120px;

  overflow: hidden;

  /*background-image: url("../../images/mainPage-S-banner-pdf-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: var(--black);
}

/* (опционально) адаптив: на узких экранах складываем в колонку */
/* @media (max-width: 744px) {
  .W_BannerPDF {
    flex-direction: column;
    gap: 32px;
    text-align: center;
  }

  .A_BannerPDFText {
    max-width: 100%;
  }

  .M_BannerPDFForm {
    width: min(520px, 100%);
  }
} */
