/* секция целиком с карточками */
.W_Section {
  display: flex;
  width: 100%; /* от main-lending*/
  margin: 0px auto;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-100-section);
}

/* все с кнопкой */
.W_SectionText {
  display: flex;
  width: 100%; /* от main-lending*/
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;

  margin: 0px auto;
}
.W_SectionText--theory {
  padding-right: calc(var(--column12-1) + var(--column-gap));
}

/* только цифра */
.A_SectionNumber {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  font-family: 'GothicA1', sans-serif;
  font-size: var(--font-size-h2-number);
  font-weight: 600;
  font-style: normal;
  color: var(--black);

  margin: 0;
  padding-top: 3px;
  width: var(--column12-1);
}
/* цифра + текст */
.W_SectionNumberAndText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.W_SectionText--theory .W_SectionNumberAndText {
  width: var(--column12-7);
}
.W_SectionText--indesign .W_SectionNumberAndText {
  width: var(--column12-6);
}

/* заголовок + текст */
.M_SectionTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.W_SectionText--theory .M_SectionTextContainer {
  width: var(--column12-6);
}
.W_SectionText--indesign .M_SectionTextContainer {
  width: var(--column12-5);
}

/* кнопка в секции ДОДЕЛАТЬ*/
.W_Section--theory > .A_Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--column12-3);
}

.W_SectionText--indesign > img {
  width: var(--column12-6);
  height: auto;
  align-items: stretch;
}

.W_SectionText--indesign > .M_SectionTextContainer {
  width: var(--column12-5);
}

@media (max-width: 743px) {
  .A_SectionNumber {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0px;
    width: auto;
  }
  .W_SectionText {
    flex-direction: column;
    gap: 40px;
  }
  .W_SectionText--theory {
    padding-right: 0px;
  }
  .W_SectionText--indesign {
    flex-direction: column-reverse;
  }
  /* цифра + текст */
  .W_SectionNumberAndText {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  /* заголовок + текст */
  .M_SectionTextContainer {
    gap: 12px;
  }
  .W_SectionText--theory .M_SectionTextContainer {
    width: 100%;
  }
  .W_SectionText--indesign .M_SectionTextContainer {
    width: 100%;
  }
  /* кнопка в секции*/
  .W_Section--theory > .A_Button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: stretch; */
    /* width: var(--column12-3); */
  }

  /* FOR INDESIGN SECTION */
  .W_SectionText--indesign > img {
    width: 100%;
    height: auto;
    align-items: stretch;
  }

  /* заголовок + текст */
  .W_SectionText--indesign > .M_SectionTextContainer {
    width: 100%;
  }
}

/* обложка и "что тебя ждет" на главной */

.fullscreen-image {
  display: block;
  width: 100%; /* от full-width*/
  max-width: 100%;
  height: auto;
  /* position: relative; */
}

.fullscreen-image-wrapper {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* --- БАННЕРЫ --- */
/* 1. Общие правила для обоих баннеров (чтобы контент стоял одинаково) */
.W_BannerPDF,
.W_BannerSubscription {
  display: flex;
  align-items: center; /* центр по высоте */
  justify-content: center; /* центр по ширине */
  gap: 100px; /* одинаковое расстояние между текстом и формой */
  box-sizing: border-box;
  overflow: hidden;
}

/* 2. Индивидуальные стили первого баннера (PDF) */
.W_BannerPDF {
  width: 100%; /* от main-lending */
  height: auto;
  padding: 60px 20px;
  border-radius: var(--card-border-radius);

  background-image: url('../../images/mainPage-S-banner-pdf-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* 3. Индивидуальные стили второго баннера (Подписка в конце) */
.W_BannerSubscription {
  width: 100%;
  min-height: 100vh;
  padding: 60px 40px;

  background-color: var(--black);
}

/* --- ВНУТРЕННОСТИ БАННЕРОВ --- */

/* SVG-текст слева */
.A_BannerPDFText {
  display: block;
  width: 40%;
  height: auto;
  flex: 0 1 auto;
}

/* дублирует A_BannerPDFText */
.A_BannerSubscriptionText {
  display: block;
  width: 40%;
  height: auto;
  flex: 0 1 auto;
}

/* Обертка для SVG, пока не использую, тк решила не использовать тег picture */
/* .A_BannerPDFText-wrapper {
  display: block;
  width: 100%;
  height: auto;
} */

/* Правая колонка (поле + кнопка) */
.M_BannerForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: stretch;
  width: 34%;
  flex: 0 1 auto;
}

/* “Поле ввода” */
.A_BannerPDFField {
  display: flex;
  align-items: center;
  gap: 10px;
  height: var(--btn-height);
  padding: 0 28px;
  border-radius: 999px;
  background: #f7f0e6; /* подставь свои переменные */
}

/* Префикс tg: */
.A_BannerPDFPrefix {
  font:
    400 18px/1.2 'BrutalType',
    sans-serif;
  opacity: 0.9;
  color: var(--black-light);
}

/* --- АДАПТИВ БАННЕРОВ ДЛЯ МОБИЛЬНЫХ --- */

@media (max-width: 743px) {
  /* Перестраиваем оба баннера одинаково */
  .W_BannerPDF,
  .W_BannerSubscription {
    flex-direction: column;
    gap: 32px;
    text-align: center;
    min-height: auto;
  }

  .W_BannerSubscription {
    padding: 80px 40px;
    gap: 52px;
  }

  .W_BannerPDF {
    padding: 120px 20px;
    gap: 40px;
    background-image: url('../../images/mainPage-XS-banner-pdf-bg.svg');
  }

  /* Растягиваем контент */
  .A_BannerPDFText {
    width: 100%;
    max-width: 100%;
  }

  .A_BannerSubscriptionText {
    width: 100%;
    max-width: 100%;
  }

  .M_BannerForm {
    width: 100%; /* Форма занимает всю ширину */
    max-width: 520px; /* Ограничитель для планшетов */
    align-items: stretch;
  }

  .A_BannerPDFField {
    height: var(--btn-height);
  }
  /* только для обложек в теге picture, потом задам переменной от высоты хедера */
  .fullscreen-image-wrapper {
    margin-top: 40px;
  }
}

@media (max-width: 1023px) {
  .W_BannerPDF {
    padding: 60px 50px;
    gap: 50px;
  }
  .W_BannerSubscription {
    flex-direction: column;
  }

  .A_BannerPDFText {
    width: 50%;
  }
  .A_BannerSubscriptionText {
    width: 60%;
  }

  .M_BannerForm {
    width: 60%;
  }
}

@media (max-width: 1376px) {
  .W_SectionText--theory {
    padding-right: 0px;
  }
  .A_SectionNumber {
    padding-top: 4px;
  }
}
