/* секция целиком с карточками */
.W_Section {
  display: flex;
  width: 100%; /* от main-container-lending*/
  margin: 0px auto;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-100-section);
}

/* все с кнопкой */
.W_SectionText {
  display: flex;
  width: 100%; /* от main-container-lending*/
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;

  margin: 0px auto;
}
.W_SectionText--theory {
  padding-right: calc(var(--column12-1) + var(--column-gap));
}

/* только цифра */
.A_SectionNumber {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  font-family: 'GothicA1', sans-serif;
  font-size: var(--font-size-h2-number);
  font-weight: 600;
  font-style: normal;
  color: var(--black);

  margin: 0;
  padding-top: 3px;
  width: var(--column12-1);
}
/* цифра + текст */
.W_SectionNumberAndText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.W_SectionText--theory .W_SectionNumberAndText {
  width: var(--column12-7);
}
.W_SectionText--indesign .W_SectionNumberAndText {
  width: var(--column12-6);
}

/* заголовок + текст */
.M_SectionTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.W_SectionText--theory .M_SectionTextContainer {
  width: var(--column12-6);
}
.W_SectionText--indesign .M_SectionTextContainer {
  width: var(--column12-5);
}

/* кнопка в секции ДОДЕЛАТЬ*/
.W_Section--theory > .A_Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--column12-3);
}

/* FOR THEORY & PRACTICE SECTIONS */

/* FOR INDESIGN SECTION */

.W_SectionText--indesign > img {
  width: var(--column12-6);
  height: auto;
  align-items: stretch;
}

.W_SectionText--indesign > .M_SectionTextContainer {
  width: var(--column12-5);
}

@media (min-width: 375px) and (max-width: 743px) {
  .A_SectionNumber {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0px;
    width: auto;
  }
  .W_SectionText {
    flex-direction: column;
    gap: 40px;
  }
  .W_SectionText--theory {
    padding-right: 0px;
  }
  .W_SectionText--indesign {
    flex-direction: column-reverse;
  }
  /* цифра + текст */
  .W_SectionNumberAndText {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  /* заголовок + текст */
  .M_SectionTextContainer {
    gap: 12px;
  }
  .W_SectionText--theory .M_SectionTextContainer {
    width: 100%;
  }
  .W_SectionText--indesign .M_SectionTextContainer {
    width: 100%;
  }
  /* кнопка в секции*/
  .W_Section--theory > .A_Button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: stretch; */
    /* width: var(--column12-3); */
  }

  /* FOR INDESIGN SECTION */
  .W_SectionText--indesign > img {
    width: 100%;
    height: auto;
    align-items: stretch;
  }

  /* заголовок + текст */
  .W_SectionText--indesign > .M_SectionTextContainer {
    width: 100%;
  }
}

/* баннеры и фотки */

.fullscreen-image {
  display: block;
  width: 100%; /* от main-lending*/
  max-width: 100%;
  height: auto;
  /* position: relative; */
}

/* picture:has(img),
picture > img.fullscreen-image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
} */

.fullscreen-image-wrapper {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.W_BannerPDF {
  width: 100%; /* от main-container-lending*/
  height: auto;
  padding: 60px 0px;
  justify-content: space-evenly;

  display: flex;
  align-items: center; /* центр по высоте */

  border-radius: var(--card-border-radius);
  overflow: hidden; /* важно, чтобы фон и контент обрезались по радиусу */

  background-image: url('../../images/mainPage-S-banner-pdf-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* SVG-текст слева */
.A_BannerPDFText {
  display: block;
  width: 40%;
  /* width: var(--column12-5); */
  /* max-width: min(620px, 45%); */
  height: auto;
  flex: 0 1 auto;
}

/* правая колонка (поле + кнопка) */
.M_BannerPDFForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: stretch;
  width: 34%;
  /* min-width: 280px; */
  /* width: var(--column12-5); */
  flex: 0 1 auto; /* базовая ширина колонки */
}

/* “поле ввода” пока как блок */
.A_BannerPDFField {
  display: flex;
  align-items: center;
  gap: 10px;

  height: 64px;
  padding: 0 28px;

  border-radius: 999px;
  background: #f7f0e6; /* подставь свои переменные */
}

/* префикс tg: */
.A_BannerPDFPrefix {
  font:
    500 18px/1.2 'BrutalType',
    sans-serif;
  opacity: 0.9;
}

/* в конце главы */
.W_BannerSubscription {
  display: flex;
  align-items: center; /* центр по высоте */
  justify-content: center; /* центр по ширине */
  gap: 120px;
  width: 100%;
  /* height: auto; */
  min-height: calc(100vh + 60px);
  padding: 60px 120px; /* или через justify-content: space-evenly; */

  overflow: hidden;
  background-color: var(--black);
}

/* (опционально) адаптив: на узких экранах складываем в колонку */
/* @media (max-width: 744px) {
  .W_BannerPDF {
    flex-direction: column;
    gap: 32px;
    text-align: center;
  }

  .A_BannerPDFText {
    max-width: 100%;
  }

  .M_BannerPDFForm {
    width: min(520px, 100%);
  }
} */
