/* враппер для карточки с шевроном */
.W_Cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  align-self: stretch;
}

/* сетка для коллекции из карточек */
.C_Card {
  width: 100%;
  display: grid;
  /* three equal columns by default */
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 46px;
  column-gap: 20px;
  align-items: stretch;
  justify-items: stretch;
  align-self: stretch;
}

/* Ensure the mount node fills its parent */
#cards-root {
  width: 100%;
}

.M_Card {
  display: flex;
  width: 100%;
  min-width: 0;
  padding: 8px 8px 28px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: var(--card-border-radius);
  background: var(--black);
  box-shadow: 0 0 4.271px 1.424px rgba(59, 59, 59, 0.2);
}

.A_CardImage {
  display: block;
  width: 100%;
  height: auto;
  align-self: stretch;
  border-radius: var(--card-image-border-radius);
  object-fit: cover;
  flex-shrink: 0;
}

.C_Card.is-collapsed > .M_Card:nth-child(n + 5) {
  display: none;
}

@media (min-width: 375px) and (max-width: 743px) {
  /* .C_Card {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  } */
  /* For small screens (<745px) do not collapse (show all) */
  .W_Cards.is-expanded .M_CardsChevron {
    display: none;
  }
  .C_Card {
    grid-template-columns: none;
    grid-auto-flow: column;
    grid-auto-columns: 85%;
    /* прокрутка + ограничиваем ее контейнером */
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    /* плавное прилипание (снэппинг) */
    scroll-snap-type: inline mandatory;
    scrollbar-width: none;
  }

  .M_Card {
    /* Указываем, какой частью карточка должна прилипать к краю экрана при скролле */
    scroll-snap-align: start;
  }

  /* Отменяем скрытие карточек для мобилки, чтобы в карусели были доступны все */
  .C_Card.is-collapsed > .M_Card {
    display: flex !important;
  }
  .M_CardsChevron {
    display: none;
  }

  .A_CardImage {
    display: block;
    width: 100%;
    height: auto;
    align-self: stretch;
    border-radius: var(--card-image-border-radius);

    object-fit: cover;
    flex-shrink: 0;
  }
}

/* For medium screens (>=745px and <=1024px) show 3 per row => hide from 4th */
@media (min-width: 744px) {
  .C_Card {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .C_Card.is-collapsed > .M_Card:nth-child(n + 4) {
    display: none;
  }
}

@media (min-width: 1376px) {
  .C_Card {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .C_Card.is-collapsed > .M_Card:nth-child(n + 4) {
    display: flex;
  }
  .C_Card.is-collapsed > .M_Card:nth-child(n + 5) {
    display: none;
  }
}
