.M_CardsChevron {
  display: flex;
  width: 96%;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  gap: 24px;

  background: transparent;
  appearance: none;
  -webkit-appearance: none;

  /* border-top: 1px solid var(--black-light); */
  border-top: 1.5px solid #cecece;
  cursor: pointer;
}
