.Q_Arrow {
  align-self: auto;
  color: var(--orange);

  /* caption-number */
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  font-size: var(--font-size-caption, 18px);
  line-height: var(--line-height-caption, 26px); /* 144.444% */
}

.Q_Text {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
  justify-content: start; /* прижать влево по горизонтали */
  align-items: start; /* прижать вверх по вертикали */
  color: var(--orange);

  /* caption-number */
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  font-size: var(--font-size-caption, 18px);
  line-height: var(--line-height-caption, 26px); /* 144.444% */
}

/* стрелка и номер */
.A_CaptionNumber {
  display: flex;
  align-items: baseline;
  align-self: flex-start;
  gap: 4px;
  /*    display: inline-flex;
    align-items: center;*/
}

/* тексты */
.A_CaptionText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

/* вся подпись */
.M_Caption {
  display: flex;
  width: 200px;
  padding-left: 28px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.M_Caption-mobile {
  display: flex;
  width: 200px;
  padding-right: 12px;
  align-items: flex-start;
  gap: 12px;
}

.A_img {
  display: block;
  width: 751px;
  /* max-width: 100%; */
  height: auto;
  max-height: var(--A_pic_height_max, 700px);
  /* padding: var(--A_pic-Paddings, 40px) 0; */
  /* margin-left: auto;
  margin-right: auto; */
}

.W_img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* прижать к левому краю */
  align-items: flex-start; /* прижать к верху */

  width: 100%;
  height: auto;
  gap: 20px;
  margin: var(--A_pic-Paddings, 40px) auto;
  /* margin-left: auto;
    margin-right: auto; */
}
