* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--white);
}

/* для ссылок в сайдбаре, чтобы мы переходили к объекту, учитывая высоту хедера */
.W_Article :is(h3, p)[id] {
  scroll-margin-top: var(--safe-place-under-header);
}

body {
  font-family: var(--font-family-base), Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.images {
  display: flex;

  * {
    width: 24px;
    height: 24px;
    margin: 0 10px;
  }

  .image {
    &#bgPNG {
      background-image: url('../images/image.png');
    }

    &#bgJPG {
      background-image: url('../images/image.jpg');
    }

    &#bgSVG {
      background-image: url('../images/image.svg');
    }
  }
}
