/* РАЗМЕРЫ */

:root {
  /* sizes */
  --sidebar-icon-size: 32px;
  --header-height: 64px;
  --safe-place-under-header: calc(var(--header-height) + 52px);
  --safe-place-under-header-for-sticky: calc(var(--header-height) + 70px);

  --column-gap: 20px;

  /* --main-content: calc(100% - 120px); */
  /* убрать потом или оставить на 1425*/
  /* --main-margin: 60px; */
  --main-gap: 180px;
  --main-container-gap: 160px;
  /*--main-content: 100%; */
  --gap-100-section: 52px;

  --card-border-radius: 30px;
  --card-horisontal-paddings: 8px;
  --card-image-border-radius: calc(
    var(--card-border-radius) - var(--card-horisontal-paddings)
  );
}

/* ЛЕЙАУТЫ */
@media (min-width: 375px) {
  :root {
    /* контент */
    /* --main-container */
    /* --column12-12: 89.33vw;  */
    /* 335px; */
    --main-margin: auto;
    --main-gap: 60px;
    --main-container-gap: 80px;

    --column-width: 19.2vw; /* 72px;*/
    --column-gap: 4.27vw; /* 16px; */

    /* карточки */
    /* --w-cards-gap: 20px; */

    /* ширина колонки */
    --column4-1: var(--column-width);
    --column4-2: calc(var(--column4-1) * 2 + var(--column-gap));
    --column4-3: calc(var(--column4-1) * 3 + var(--column-gap) * 2);
    --column4-4: calc(var(--column4-1) * 4 + var(--column-gap) * 3);
  }
  @media (min-width: 744px) {
    /* оставляю 12 колонок */
    :root {
      /* 91.4vw; */
      /* 680px; */
      --main-margin: auto;
      --main-gap: 120px;
      --main-container-gap: 100px;

      --column-width: 6.09vw; /* 9.14vw */
      --column-gap: 1.56vw; /* 2.69vw */

      /* ширина колонки */
      --column12-1: var(--column-width);
      --column12-2: calc(var(--column12-1) * 2 + var(--column-gap));
      --column12-3: calc(var(--column12-1) * 3 + var(--column-gap) * 2);
      --column12-4: calc(var(--column12-1) * 4 + var(--column-gap) * 3);
      --column12-5: calc(var(--column12-1) * 5 + var(--column-gap) * 4);
      --column12-6: calc(var(--column12-1) * 6 + var(--column-gap) * 5);
      --column12-7: calc(var(--column12-1) * 7 + var(--column-gap) * 6);
      --column12-8: calc(var(--column12-1) * 8 + var(--column-gap) * 7);
      --column12-9: calc(var(--column12-1) * 9 + var(--column-gap) * 8);
      --column12-10: calc(var(--column12-1) * 10 + var(--column-gap) * 9);
      --column12-11: calc(var(--column12-1) * 11 + var(--column-gap) * 10);
      --column12-12: calc(var(--column12-1) * 12 + var(--column-gap) * 11);
    }
  }
  @media (min-width: 1376px) {
    :root {
      /* 91.28vw; */
      /* 1256px; */
      --main-margin: auto;
      --main-gap: 140px;

      --column-width: 6.32vw; /* 87px; */
      --column-gap: 1.45vw; /* 20px; */

      /* ширина колонки */
      --column12-1: var(--column-width);
      --column12-2: calc(var(--column12-1) * 2 + var(--column-gap));
      --column12-3: calc(var(--column12-1) * 3 + var(--column-gap) * 2);
      --column12-4: calc(var(--column12-1) * 4 + var(--column-gap) * 3);
      --column12-5: calc(var(--column12-1) * 5 + var(--column-gap) * 4);
      --column12-6: calc(var(--column12-1) * 6 + var(--column-gap) * 5);
      --column12-7: calc(var(--column12-1) * 7 + var(--column-gap) * 6);
      --column12-8: calc(var(--column12-1) * 8 + var(--column-gap) * 7);
      --column12-9: calc(var(--column12-1) * 9 + var(--column-gap) * 8);
      --column12-10: calc(var(--column12-1) * 10 + var(--column-gap) * 9);
      --column12-11: calc(var(--column12-1) * 11 + var(--column-gap) * 10);
      --column12-12: calc(var(--column12-1) * 12 + var(--column-gap) * 11);
    }
  }
  @media (min-width: 1728px) {
    :root {
      /* тут все ФИКСИРОВАНО должно быть*/
      /* 1612px; */
      --main-margin: auto;

      --column-width: 116px;
      --column-gap: 20px;

      /* ширина колонки */
      --column12-1: var(--column-width);
      --column12-2: calc(var(--column12-1) * 2 + var(--column-gap));
      --column12-3: calc(var(--column12-1) * 3 + var(--column-gap) * 2);
      --column12-4: calc(var(--column12-1) * 4 + var(--column-gap) * 3);
      --column12-5: calc(var(--column12-1) * 5 + var(--column-gap) * 4);
      --column12-6: calc(var(--column12-1) * 6 + var(--column-gap) * 5);
      --column12-7: calc(var(--column12-1) * 7 + var(--column-gap) * 6);
      --column12-8: calc(var(--column12-1) * 8 + var(--column-gap) * 7);
      --column12-9: calc(var(--column12-1) * 9 + var(--column-gap) * 8);
      --column12-10: calc(var(--column12-1) * 10 + var(--column-gap) * 9);
      --column12-11: calc(var(--column12-1) * 11 + var(--column-gap) * 10);
      --column12-12: 1612px;
    }
  }
}

.main-lending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  width: 100%;
  /* padding-top: var(--main-gap); */
  padding-bottom: var(--main-gap);
  gap: var(--main-gap);
}

/* align-content: space-evenly; */

.main-container-lending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  gap: var(--main-container-gap);
  width: var(--column12-12);
  margin: 0px auto;
  /* не буду писать ширина 100% так как контент разъезжается */
  /* margin: 98px var(--main-margin); это когда у main не было gap*/
  /* margin: 0px var(--main-margin); */
  border: 1px solid aquamarine;
}

/* основные контейнеры */

/* весь экран с отступами */
.main-container-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  padding-top: var(--safe-place-under-header);
  padding-bottom: 80px;
}

/* сайдбар */
.aside-article {
  display: block;
  position: sticky;
  align-self: start;
  z-index: 2;

  width: 21.82vw; /* 311px */
  top: var(--safe-place-under-header-for-sticky);
}

/* статья с подписями */
.main-article {
  width: 68.35vw; /* 974px */
}

@media (min-width: 375px) and (max-width: 743px) {
  .main-container-lending {
    width: var(--column4-4);
  }
}
@media (min-width: 744px) {
  /* and (max-width: 1375px) */
  .main-container-lending {
    width: var(--column12-12);
  }
}
/* >1024px and <1720px: 12 columns, flexible width with 60px side gaps */
/* @media (min-width: 1024px) and (max-width: 1719px) { */
@media (min-width: 1376px) {
  .main-container-article {
    width: var(--column12-12);
    /* width: 91.37vw;  */
    /*1302px*/
    margin: 0 auto;
  }
  .aside-article {
    display: block;
    position: sticky;

    width: var(--column12-3);
    /* width: 21.82vw;  */
    /* 311px */
    top: var(--safe-place-under-header-for-sticky);
    align-self: start;
    z-index: 2;
  }
  /* .main-article {
    width: 751px;
    width: 100%;
  } */
}

/* >=1720px: fixed width container (1612px), centered, 12 columns */
@media (min-width: 1720px) {
  .main-container-article {
    width: 113.12vw; /*1612px*/
    margin: 0 auto;
  }
  .aside-article {
    display: block;
    width: 27.23vw; /* 388px */
    position: sticky;
    top: var(--safe-place-under-header-for-sticky);
    align-self: start;
    z-index: 2;
  }
  .main-article {
    width: 84.49vw; /* 1204px; */
  }
}
