:root {
  /* COLORS */
  --white: #fffaf1;
  --white-dark: #f2ede5;
  --green: #1fae62;
  --orange: #ff711f;
  --black: #3b3b3b;
  --black-light: #7c7c7c;
  --grey: #eaeaea;

  /* FONT */
  --font-family-base: 'BrutalType', Arial, sans-serif;
}

/* FONT*/

/* возможно нужно сделать 2 варианта для адаптивов*/
:root {
  --line-height-navbar: 1.3;
  --line-height-logo-text: 1.3;
  --line-height-footer: 1.3;
  --line-height-body: 1.3;
  --line-height-caption: 1.3;

  --line-height-h1: 1.3;
  --line-height-h2: 1.3;
  --line-height-h2-number: var(--line-height-h2);
  --line-height-subheading: 1.3;
  --line-height-intro: 1.5;
  --line-height-h3: 1.3;
  --line-height-h4: var(--line-height-body);

  --line-height-card-heading: 1.3;
  --line-height-card-text: 1.3;

  --line-height-info: 1.3;
  --line-height-button: 1.3;

  --line-height-sidebar-text: 1.3;
  --line-height-sidebar-number-icon: 1.3;
}
@media (max-width: 1376px) {
  :root {
    --line-height-h2: 1.1;
  }
}

@media (min-width: 375px) {
  :root {
    /* FONT-SIZE */
    --font-size-navbar: 14px;
    --font-size-logo-text: 14px;
    --font-size-footer: 14px;
    --font-size-body: 16px;
    --font-size-caption: 14px;

    /* --line-height-navbar: 16px;
    --line-height-logo-text: 16px;
    --line-height-footer: 16px;
    --line-height-body: 25px;
    --line-height-caption: 21px; */

    --font-size-h1: 40px;
    --font-size-h2: 32px;
    --font-size-h2-number: 32px;
    --font-size-subheading: 18px;
    --font-size-intro: 16px;
    --font-size-h3: 20px;
    --font-size-h4: var(--font-size-body);

    /* --line-height-h1: 42px;
    --line-height-h2: 36px;
    --line-height-h2-number: var(--line-height-h2);
    --line-height-subheading: 24px;
    --line-height-intro: 22px;
    --line-height-h3: 26px;
    --line-height-h4: var(--line-height-body); */

    --font-size-card-heading: 22px;
    --font-size-card-text: 14px;

    /* --line-height-card-heading: 26px;
    --line-height-card-text: 16px; */

    --font-size-info: 16px;
    --font-size-button: 16px;

    /* --line-height-info: 18px;
    --line-height-button: 18px; */

    --font-size-sidebar-text: 14px;
    --font-size-sidebar-number-icon: 10px;

    /* --line-height-sidebar-text: 17px;
    --line-height-sidebar-number-icon: 12px; */
  }
}

@media (min-width: 744px) {
  :root {
    /* FONT-SIZE */
    --font-size-navbar: 14px;
    /* --line-height-navbar: 16px; */
    --font-size-logo-text: 16px;
    /* --line-height-logo-text: 16px;  */
    --font-size-footer: 14px;
    /* --line-height-footer: 0px; */
    --font-size-body: 18px;
    /* --line-height-body: 27px; */
    --font-size-caption: 14px;
    /* --line-height-caption: 21px; */

    --font-size-h1: 38px;
    /* --line-height-h1: 62px; */
    --font-size-h2: 38px;
    /* --line-height-h2: 52px; */
    --font-size-h2-number: 34px;
    /* --line-height-h2-number: var(--line-height-h2); */
    --font-size-subheading: 18px;
    /* --line-height-subheading: 32px; */
    --font-size-intro: 18px;
    /* --line-height-intro: 29px; */
    --font-size-h3: 36px;
    /* --line-height-h3: 54px; */
    --font-size-h4: var(--font-size-body);
    /* --line-height-h4: var(--line-height-body); */
    --font-size-card-heading: 24px;
    /* --line-height-card-heading: 27px; */
    --font-size-card-text: 16px;
    /* --line-height-card-text: 22px; */

    --font-size-info: 16px;
    /* --line-height-info: 18px; */
    --font-size-button: 16px;
    /* --line-height-button: 18px; */

    --font-size-sidebar-text: 16px;
    /* --line-height-sidebar-text: 17px; */
    --font-size-sidebar-number-icon: 18px;
    /* --line-height-sidebar-number-icon: 15px; */
  }
}

@media (min-width: 1376px) {
  :root {
    /* FONT-SIZE */
    --font-size-navbar: 14px;
    --font-size-logo-text: 16px;
    --font-size-footer: 14px;
    --font-size-body: 18px;
    --font-size-caption: 14px;

    --font-size-h1: 52px;
    --font-size-h2: 44px;
    --font-size-h2-number: 44px;
    --font-size-subheading: 24px;
    --font-size-intro: 24px;
    --font-size-h3: 36px;
    --font-size-h4: var(--font-size-body);

    --font-size-card-heading: 24px;
    --font-size-card-text: 16px;

    --font-size-info: 16px;
    --font-size-button: 16px;

    --font-size-sidebar-text: 16px;
    --font-size-sidebar-number-icon: 18px;

    /* LINE HEIGHT */
    /* --line-height-navbar: 14px;
    --line-height-footer: 0px;
    --line-height-logo-text: 22px;
    --line-height-body: 27px;
    --line-height-caption: 21px;

    --line-height-h1: 62px;
    --line-height-h2: 52px;
    --line-height-h2-number: var(--line-height-h2);
    --line-height-subheading: 32px;
    --line-height-intro: 29px;
    --line-height-h3: 54px; 
    --line-height-h4: var(--line-height-body);

    --line-height-card-heading: 27px;
    --line-height-card-text: 22px;

    --line-height-info: 18px;
    --line-height-button: 18px;

    --line-height-sidebar-text: 17px;
    --line-height-sidebar-number-icon: 15px; */
  }
}
@media (min-width: 1728px) {
  :root {
    /* FONT-SIZE */
    --font-size-navbar: 18px;
    --font-size-logo-text: 20px;
    --font-size-footer: 18px;
    --font-size-body: 26px;
    --font-size-caption: 18px;

    --font-size-h1: 98px;
    --font-size-h2: 72px;
    --font-size-h2-number: 70px;
    --font-size-subheading: 44px;
    --font-size-intro: 28px;
    --font-size-h3: 48px;
    --font-size-h4: var(--font-size-body);

    --font-size-card-heading: 34px;
    --font-size-card-text: 20px;

    --font-size-info: 32px;
    --font-size-button: 28px; /* еще нигде не применяла */

    --font-size-sidebar-text: 20px;
    --font-size-sidebar-number-icon: 22px;

    /* LINE HEIGHT */
    /* --line-height-navbar: 20px;
    --line-height-footer: 0px;
    --line-height-body: 38px;
    --line-height-caption: 26px;

    --line-height-h1: 100px;
    --line-height-h2: 76px;
    --line-height-h2-number: var(--line-height-h2);
    --line-height-subheading: 58px;
    --line-height-intro: 38px;
    --line-height-h3: 58px;
    --line-height-h4: var(--line-height-body);

    --line-height-card-heading: 38px;
    --line-height-card-text: 32px;

    --line-height-info: 38px;
    --line-height-button: 34px;

    --line-height-sidebar-text: 24px;
    --line-height-sidebar-number-icon: 20px; */
  }
}
