<footer class="W_footer">
  <div class="logo-grid-area">
    <!-- лого с текстом -->
    <a href="/index.html">
      <div class="I_Logo"></div>
    </a>
    <p>Руководство по дизайну книги: с нуля до готового экземпляра</p>
  </div>
  <!-- две колонки -->
  <div class="nav-grid-area">
    <p class="footer-links__title">Навигация</p>
    <ul class="footer-links__list">
      <li class="footer-links__item">
        <a href="/index.html">Главная</a>
      </li>
      <li class="footer-links__item">
        <a href="/pages/Main.html">Теория</a>
      </li>
      <li class="footer-links__item">
        <a href="/pages/Main.html">Практика</a>
      </li>
      <li class="footer-links__item">
        <a href="/pages/About_Us.html">О нас</a>
      </li>
    </ul>
  </div>
  <div class="team-grid-area">
    <p class="footer-links__title">Команда</p>
    <ul class="footer-links__list">
      <li class="footer-links__item">
        <a href="/index.html">Мушакова София</a>
        <p>автор</p>
      </li>
      <li class="footer-links__item">
        <a href="/pages/Main.html">Захар День</a>
        <p>куратор</p>
      </li>
    </ul>
  </div>
  <div class="social-grid-area">
    <div class="M_Social-list">
      <p>Получай анонсы новых глав и разборы книжного дизайна:</p>
      <div class="C_Social-list_Icons">
        <a href="">
          <div class="I_SocialIcons tg"></div>
        </a>
        <a href="">
          <div class="I_SocialIcons pin"></div>
        </a>
        <a href="">
          <div class="I_SocialIcons vk"></div>
        </a>
      </div>
    </div>
    <div class="M_Social-list">
      <p>Поделись своим мнением анонимно:</p>
      <button class="A_Button-footer">Обратная связь</button>
    </div>
  </div>
  <div class="copyright-grid-area">
    <p>@Все права защищены 2026</p>
  </div>
</footer>
