<footer class="W_footer border">
  <div class="logo-grid-area">
    <!-- лого с текстом -->
    <a href="/index.html">
      <div class="I_Logo"></div>
    </a>
    <p class="footer-text-large">
      Руководство по дизайну книги: с нуля до готового экземпляра
    </p>
  </div>
  <!-- две колонки -->
  <div class="nav-grid-area">
    <p class="footer-links__title">Навигация</p>
    <ul class="footer-links__list">
      <li class="footer-links__item">
        <a href="/index.html">Главная</a>
      </li>
      <li class="footer-links__item">
        <a href="/pages/Theory.html">Теория</a>
      </li>
      <li class="footer-links__item">
        <a href="/pages/Practice.html">Практика</a>
      </li>
      <li class="footer-links__item">
        <a href="/pages/About_Us.html">О нас</a>
      </li>
    </ul>
  </div>
  <div class="team-grid-area">
    <p class="footer-links__title">Команда</p>
    <ul class="footer-links__list">
      <li class="footer-links__item">
        <a href="https://t.me/sssonia10">Мушакова София</a>
        <p>автор</p>
      </li>
      <li class="footer-links__item">
        <a href="https://t.me/zakharday">Захар День</a>
        <p>куратор</p>
      </li>
    </ul>
  </div>
  <div class="social-grid-area">
    <div class="M_Social-list">
      <p class="footer-text-medium">
        Получай анонсы новых глав и разборы книжного дизайна:
      </p>
      <div class="C_Social-list_Icons">
        <a href="https://t.me/d4_book_design">
          <div class="I_SocialIcons tg"></div>
        </a>
        <a href="">
          <div class="I_SocialIcons pin"></div>
        </a>
        <a href="https://vk.com/club236671541">
          <div class="I_SocialIcons vk"></div>
        </a>
      </div>
    </div>
    <div class="M_Social-list">
      <p class="footer-text-medium">Поделись своим мнением анонимно:</p>
      <button class="A_Button-footer">
        Обратная связь
        <span style="font-family: 'Inter'; font-weight: 400">→</span>
      </button>
    </div>
  </div>
  <div class="copyright-grid-area footer-text-small">
    <p>@ Все права защищены 2026</p>
  </div>
</footer>
