/* контейнер без отступов для navbar-2 */
.W_navbar-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 1000;

  width: 100%;
  /* height: 64px; */
  margin: 0 auto;

  background: var(--white);
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
}

/* контейнер для всей навигации */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  width: var(--column12-12);
  margin: 0 auto;
  height: 64px;
  padding: 0 32px;

  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 1000;

  border-radius: 80px;
  background: var(--white);
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
}

/* контейнер-2 для всей навигации */
.navbar-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  width: var(--column12-12);
  margin: 0 auto;
  padding: 0 20px;
}

.A_Menu {
  display: inline-flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  font-size: var(--font-size-navbar);
}

.A_Menu a {
  color: inherit;
  text-decoration: none;
  /* transition: color 0.2s ease; */
}

@media (hover: hover) {
  .A_Menu:hover a {
    color: var(--orange);
    font-weight: 500;
  }
}

.A_Menu:active a,
.A_Menu a:active {
  color: var(--orange);
}

.W_Menu {
  display: inline-flex;
  padding-bottom: 1px;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.I_Burger_Menu {
  width: 18px;
  height: 18px;
  aspect-ratio: 1/1;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  flex-grow: 0; /* не растягиваться */
  flex-shrink: 0; /* не сжиматься */
  flex-basis: 18px; /* базовая ширина (в flex-оси) = 18px */
  color: var(--black);
}

.A_Burger_Menu {
  display: flex;
  /* по умолчанию скрыт, тк открывается только на мобильных устройствах */
  /* display: none; */
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: var(--white-dark);
  border-radius: 10px;
}

.I_NavbarLogo {
  width: 40px;
  height: auto;
}

.W_NavbarLogo {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.M_Search {
  display: flex;
  width: 260px;
  padding: 12px 20px;
  align-items: center;
  gap: 12px;

  border-radius: 100px;
  background: var(--white-dark);
  /* display: none; */
  /* visibility: hidden; */
}

.W_MenuAndSearch {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* --- ЛОГИКА ОТОБРАЖЕНИЯ ХЕДЕРОВ по умолчанию --- */
.header-desktop {
  display: block;
}
.header-mobile {
  display: none;
}

@media (max-width: 743px) {
  /* navbar-сосиска не используется */
  .navbar {
    height: 62px;
    width: var(--column4-4);
  }
  .W_navbar-2 {
    height: 64px;
    width: 100%;
  }
  .navbar-2 {
    width: var(--column4-4);
    padding: 0px;
  }

  .A_Burger_Menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* написать взаимодействие при клике с телефона/планшета */
  }
  .M_Search {
    display: none;
  }
  .W_Menu {
    display: none;
  }

  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: flex;
  }

  .logo-text {
    display: none;
  }
  .I_NavbarLogo {
    width: 44px;
    height: auto;
  }
}
@media (min-width: 744px) and (max-width: 840px) {
  /* navbar-сосиска не используется */
  .navbar {
    height: 62px;
    width: var(--column4-4);
  }
  .W_navbar-2 {
    height: 64px;
    width: 100%;
  }
  .navbar-2 {
    width: var(--column12-12);
    padding: 0px;
  }

  .A_Burger_Menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* написать взаимодействие при клике с телефона/планшета */
  }
  .M_Search {
    display: none;
  }
  .W_Menu {
    display: none;
  }

  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: flex;
  }

  .logo-text {
    display: none;
  }
  .I_NavbarLogo {
    width: 44px;
    height: auto;
  }
}

@media (min-width: 841px) {
  /* высота навбара */
  .navbar {
    height: 62px;
    width: var(--column12-12);
  }
  .W_navbar-2 {
    height: 64px;
    width: var(--column12-12);
  }
  .navbar-2 {
    width: 100%;
  }

  /* скрытие элементов */
  /* .A_Burger_Menu {
    display: none;
  } */
  .M_Search {
    display: flex;
  }
  .W_Menu {
    display: inline-flex;
  }

  .A_Menu {
    padding: 0 14px;
  }
}
@media (min-width: 1376px) {
  .M_Search {
    display: flex;
  }
  .W_Menu {
    display: inline-flex;
  }
  .navbar {
    height: 62px;
  }
  .W_navbar-2 {
    height: 74px;
  }
}
@media (min-width: 1728px) {
  .navbar {
    height: 104px;
  }
  .W_navbar-2 {
    height: 94px;
  }
}
