.sidebar-theory {
  display: flex;
  width: 100%;
  /* height: 628px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

/* из js*/
.open {
  display: flex;
}

/* шеврон */
.I_Sidebar_Chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  aspect-ratio: 1/1;
}
.I_Sidebar_Chevron.open {
  transform: rotate(90deg);
}

/* тексты */
.A_Sidebar_Text {
  display: flex;
  max-width: 256px;
  align-items: flex-start;
  font-family: 'BrutalType';
  font-size: var(--font-size-sidebar-text);
  line-height: var(--line-height-sidebar-text);
  min-width: 0;
  color: var(--black);
}

.A_Sidebar_Text--lvl1 {
  font-weight: 700;
  font-style: normal;
}
.A_Sidebar_Text--lvl2 {
  font-weight: 400;
  font-style: normal;
}

/* контейнер текста с цифрой */
.M_NumberAndText {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* текст с цифрой и шевроном */
.W_Sidebar_Item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--M_Sidebar_1_Padding, 10px);
  gap: var(--M_Sidebar_1_Gap, 16px);
}

/* контейнер для подглав */
.C_SidebarLinks {
  display: none;
  flex-direction: column;
  gap: var(--C_SidebarLinks_Gap, 8px);
}
/* подглава */
.C_SidebarLinks a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  padding-left: 50px;
}

/* контейнер главы с подглавами */
.W_Sidebar_Dropdown {
  display: flex;
  flex-direction: column;
  /* gap: var(--W_Sidebar_Dropdown_Gap, 8px); */
}

.C_SidebarLinks.open,
.W_Sidebar_Dropdown.open .C_SidebarLinks {
  display: flex;
  padding-bottom: 10px;
}

.W_Sidebar_Dropdown.open .W_Sidebar_Item .M_NumberAndText {
  color: var(--orange);
}

.I_Sidebar_number {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  /*flex: 0 0 var(--icon);*/
  flex-grow: 0; /* не растягиваться */
  flex-shrink: 0; /* не сжиматься */
  flex-basis: 32px; /* базовая ширина (в flex-оси) = 32px */

  /* если это глиф шрифта — оставь свой font-family */
  font-family: 'GothicA1', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: var(--font-size-sidebar-number-icon);
  line-height: 1;
  color: var(--black);
}

.W_Sidebar_Dropdown.open .I_Sidebar_number,
.W_Sidebar_Dropdown.open .A_Sidebar_Text {
  color: var(--orange);
}

.W_Sidebar_Dropdown.open svg path {
  fill: var(--orange);
}
